<footer class="footer py-50% mt-auto" style="background-color: #220101">
  <div class="container" style="text-align: center">
    <span class="text-white">&copy; YelpCamp 2022</span>
  </div>
</footer>
