<% layout('layouts/boilerplate') %>

<div
  class="container d-flex justify-content-center align-items-center mt-2 mb-2"
>
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
      <div class="card shadow">
        <img
          src="https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8"
          alt=""
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title text-dark">Login</h5>
          <form action="/login" method="post" class="validated-form" novalidate>
            <div class="mb-3">
              <label for="username" class="form-label text-dark"
                >Username</label
              >
              <input
                type="text"
                id="username"
                name="username"
                class="form-control"
                autofocus
                required
              />
              <div class="valid-feedback text-muted">Looks good!</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label text-dark"
                >Password</label
              >
              <input
                type="password"
                id="password"
                name="password"
                class="form-control"
                required
              />
              <div class="valid-feedback text-muted">Looks good!</div>
            </div>
            <button class="btn btn-success btn-block">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
